<div id="{{bucket}}" class="bucket">
  <h2>{{bucket | capitalize | replace("_", " ")}}</h2>
  <h3
    class="bucket_sum"
    hx-trigger="load, reload-sum from:body"
    hx-get="/sum/{{bucket}}"
  ></h3>
  <table id="{{bucket}}-transactions">
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>

    {% for transaction in transactions %} 
    {% include "transaction.html" %} 
    {% endfor %}

    <tr class="button-row">
      <form
        hx-post="/transactions/{{bucket}}"
        hx-swap="beforebegin"
        hx-target="closest tr"
      >
        <td><input type="text" name="name" placeholder="Name" /></td>
        <td><input type="number" name="amount" step="0.01" placeholder="Amount" /></td>
        <td>
          <button  type="submit">
            +
          </button>
        </td>
      </form>
    </tr>
  </table>
</div>
