<!DOCTYPE html>
<html>
  <head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page" />
    <meta name="keywords" content="html tutorial template" />
    <script src="../static/htmx.min.js"></script>
    <link rel="stylesheet" href="../static/style.css"> 
  </head>

  <body hx-on="htmx:syntax:error: console.log(event)">
    <div id="stats">
      <div hx-get="/stats" hx-trigger="load" hx-swap="outerHTML"></div>
    </div>

    <div id="buckets">
    <div id="income-container">
      <div hx-get="/bucket/income" hx-trigger="load" hx-swap="outerHTML"></div>
    </div>

    <div id="outgoing">
      {% for key in buckets %}
      <div hx-get="/bucket/{{key}}" hx-trigger="load" hx-swap="outerHTML"></div>
      {% endfor %}
    </div>
    </div>
  </body>
</html>
