<tr class="{{key}}-{{transaction[0]}} fade-me-out">
  <td>
    <span
      hx-get="/edit/{{key}}/{{transaction[0]}}?value={{transaction[1]}}&name=name"
      hx-swap="outerHTML"
      >{{transaction[1]}}</span
    >
  </td>
  <td>
    <span
      hx-swap="outerHTML"
      hx-get="/edit/{{key}}/{{transaction[0]}}?value={{transaction[2]}}&name=amount"
      >{{transaction[2]}}</span
    >
  </td>
  <td class="remove_cell_button">
    <button
      hx-delete="/deleteTransaction/{{key}}/{{transaction[0]}}"
      hx-target=".{{key}}-{{transaction[0]}}"
    >
      -
    </button>
  </td>
</tr>
